.banner {
    background-image : none;
    position: relative;
    .banner-logo{
        z-index: 1;
        animation : anim-logo 7s infinite ease-in-out;
    }
    .banner-video{
        position: absolute;
        z-index: 0;
        width: 100%;
    }
    
}

.swiper-wrapper{
    .swipper-slide{
        display: flex !important;
        justify-content: center !important;
        margin: auto;
    }
}
