.oscars{
    display: flex;
    align-items: center;
    justify-content: center;
    .texte-oscars{
        position: relative;
        h3{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            font-size: 35px;
            padding-top: 46px;
            text-align: start;
            margin: 0;
        }
    }
}
